/* base style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li,
p,
label,
span,
a {
  font-size: 2.4rem;
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
}

/* theme */

:root {
  --body-bg: #f6f4f0;
  --btn-col: #35bd3a;
  --shadow-col: #01ab08;
  --white-col: #ffffff;
  --bg-full--time: #cce2c2;
  --bg-half--time: #e4e5c7;
  --bg-less--time: #dbadad;
  --black-col: #000000;
  --text-bg: #f5f5f57a;
  --count-bg: #fec33d;
  --bg-full--count: #02a4096e;
  --bg-half--count: #c5b1006e;
  --bg-less--count: #c50c006e;
  --col-full--next: #01ab08;
  --col-half--next: #c58800;
  --col-less--next: #c50000;
  --col-wrong--border: #ff7a7a;
  --col-correct--border: #35bd3a;
  --col-option-border: #d9d9d9;
}

/* layout */

.main-container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 8.4rem 4.2rem;
}

body {
  background-color: var(--body-bg);
}

.root {
  min-height: 100vh;
}

.full-bg .root {
  background-color: var(--bg-full--time);
}

.half-bg .root {
  background-color: var(--bg-half--time);
}

.half-half--bg .root {
  background-color: var(--bg-less--time);
}

/* module/reusable */

.btn {
  font-size: 3.3rem;
  font-weight: 600;
  border-radius: 0.9rem;
  padding: 1rem 2.5rem;
  border: none;
  background-color: var(--btn-col);
  color: var(--white-col);
  box-shadow: 6px 7px 0px var(--shadow-col);
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover {
    transform: translateY(4px);
  }

  &:active {
    transform: translateY(2px);
  }
}

/***** section-page1 *****/

.section-page1 {

  & .main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.logo img {
  width: 50%;
}

.previous-scores p {
  font-size: 1.6rem;
}

/***** End section-page1 *****/

/***** section-quiz--start *****/

.section-quiz--start {
  display: none;
}

/* 1. */
.img-sound-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound {
  font-size: 2rem;
}

.image img {
  width: 16rem;
}

/* 2.*/
.num-question {
  display: flex;
  justify-content: flex-end;

  & .question-count {
    background-color: var(--count-bg);
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
  }
}

/* 3. questions  */

.question {
  font-size: 2.4rem;
  font-weight: 600;
  background-color: var(--text-bg);
  padding: 4rem 2rem;
  border-radius: 1rem;
}

/* 6. time remaining */

.time-remaining--div {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.time-remaining {
  background-color: var(--bg-full--count);
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-col);
}

.half-time--remaining .time-remaining {
  background-color: var(--bg-half--count);
}

.lessThan-half--time .time-remaining {
  background-color: var(--bg-less--count);
}

/* 5. options */
.options {
  background-color: var(--text-bg);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;

  /* display: none; */
}

li {
  border: 1px solid var(--col-option-border);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.correct-answer {
  border-color: var(--col-correct--border);
}

.wrong-answer {
  border-color: var(--col-wrong--border);
  pointer-events: none;
}

.wrong-choose {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
}

/* 6. */

.next-btn {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.next {
  color: var(--col-full--next);
  border-radius: 0.3rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.half-next .next {
  color: var(--col-half--next);
}

.half-half--next .next {
  color: var(--col-less--next);
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: none;
  border: none;
  background-color: lightslategray;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: #5b6b7b;
  }
}

/***** End section-quiz--start *****/

/***** section-result *****/

.section-result {
  display: none;
}

.section-result {
  text-align: center;
}

.result-image img {
  width: 13rem;
}

.retry-btn .btn {
  padding: 1rem 5.5rem 1rem 2.5rem;
  margin: 2rem 0;
}

.liner-bar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem auto 13rem;
  position: relative;
}

.bar {
  height: 50px;
  position: relative;
}

.green-bar {
  width: 100%;
  background-color: #35bd3a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.red-bar {
  width: 100%;
  background-color: #ff7a7a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.green-bar-line {
  &::before {
    content: "";
    width: 4rem;
    position: absolute;
    height: 0.1rem;
    background-color: #009006;
    left: -3rem;
  }

  &::after {
    content: "";
    width: 0.1rem;
    position: absolute;
    height: 4rem;
    background-color: #009006;
    left: -3rem;
  }

  .green-mark--percentage {
    position: absolute;
    top: 6.5rem;
    left: -3.7rem;
    font-size: 1.4rem;
  }
}

.red-bar-line {
  &::before {
    content: "";
    width: 4rem;
    position: absolute;
    height: 0.1rem;
    background-color: #eb4545;
    right: -2.6rem;
    top: 2.4rem;
  }

  &::after {
    content: "";
    width: 0.1rem;
    position: absolute;
    height: 4rem;
    background-color: #eb4545;
    right: -2.6rem;
    top: 2.4rem;
  }

  .red-mark--percentage {
    position: absolute;
    top: 6.5rem;
    right: -3.4rem;
    font-size: 1.4rem;
  }
}

.bar::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.green-bar::before {
  left: 0.5rem;
  background-color: #009006;
}

.red-bar::before {
  right: 0.5rem;
  background-color: #eb4545;
}

.marks {
  position: absolute;
  top: 6.1rem;
}

/***** End section-result *****/

/***** media query *****/

@media (width <=575px) {
  html {
    font-size: 48%;
  }

  .section-quiz--start .main-container {
    padding: 8.4rem 2rem;
  }

  .logo .img {
    width: 100%;
  }

  .btn {
    font-size: 2.5rem;
    padding: 0.5rem 1.5rem;
  }

  .liner-bar {
    width: 95%;
  }

  .retry-btn .btn {
    padding: 0.5rem 1.5rem 0.5rem 2rem;
  }

}

/***** End media query *****/